﻿@{
    ViewData["Title"] = "ViewDashBoard";
    Layout = "_layout";
}

<h1>Dashboard</h1>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Category');
            data.addColumn('number', 'Items');
            data.addRows([
                ['iOS', @ViewData["d1"]],
                ['Android', @ViewData["d2"]]
            ]);
            var options = {
                'title': 'Number of Items',
                'width': 400,
                'height': 300
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="chart_div"></div>

    <div class="row">
        <div class="col-md-4">
            <div class='card'>
                <div class='card-header bg-info text-center'>
                    iOS
                </div>
                <div class='card-body'>
                    <img src='~/images/iphone_13.jpg' width='100px'>
                </div>
                <div class='card-footer'>
                    Number of Items: <div> @ViewData["d1"] </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class='card'>
                <div class='card-header bg-info text-center'>Android</div>
                <div class='card-body'>
                    <img src='~/images/note.jpg' width='100px'>
                </div>
                <div class='card-footer'>
                    Number of Items: <div>@ViewData["d2"] </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>