@model Final_Project_Web2.Models.usersaccounts
@{
    ViewData["Title"] = "adminhome";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <h1>Home Page Admin</h1>
    <h3>
        welcome  @ViewData["name"] !
    </h3>
</body>
</html>
